@charset "UTF-8";

/*----------------------fonts-----------------*/
$ds: 'Droid Sans', sans-serif;
$l: 'Lato', sans-serif;

/*----------------General settings------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
	font: 400 18px $l;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
a{
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
}
a:hover, a:visited{
	text-decoration: none;
}
.base{
	border-radius: 0.5em;
	height: 3.38em;
	width: 10.88em;
	color: #fff;
	font: bold 0.83em $l;
	line-height: 3.38em;
	text-align: center;
}
.downl{
	background-color: rgba(114, 179, 204, 0);
	border: 0.11em solid #fff;
}
.learn{
	background-color: rgb(75, 202, 255);
	box-shadow: 0px 4px 0px 0px rgba(39, 118, 151, 0.004);
	border: 0.11em solid transparent;
}
h3{
	font: 900 2rem $l;
	color: #414042;
}
.subtitle{
	font: 300 1.111rem $l;
	color: #414042;
	margin-bottom: 3.5rem;
}
button{
	font: 700 0.833rem $l;
	color:  rgb(254, 254, 254);
	border: 0;
	padding: 0.85rem 2.5rem;
	border-radius: 3px;
}
/*----------------header--------------------*/
header{
	nav{
		background-color: #0a1728; 
		box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
		.logo{
			margin-top: 1rem;
		}
		.bar{
			display: none;
			font-size: 1.5rem;
			color: #4bcaff;
			float: right;
			line-height: 3;
			margin-right: 2rem;
		}
		.bar:hover{
			color: #fff;
		}
		.sub-nav{
			position: fixed;
			width: 35%;
		    height: 100vh;
		    top: 0;
		    right: -100%;
		    background-color: #142436;
		    padding-top: 2rem;
		    z-index: 999;
		    transition: all 0.3s;
		    .fa-times{
		    	position: absolute;
			    right: 15%;
			    font-size: 1.5rem;
		    }
		    .fa-times:hover{
		    	color: #4bcaff;
		    	cursor: pointer;
		    }
		    ul{
		    	padding-top: 2rem;
		    	li{
					list-style-type: none;
					margin: 2rem;
			    	a{
			    		display: block;
			    		text-align: center;
			    		color: #e7e8ea;
			    		font: bold 0.9rem $ds;
			    	}
			    	a:hover{
			    		color: #4bcaff;
			    	}
			    }
		    }
		    
		}
		.menu{
			float: right;
			li{
				display: inline-block;
				margin-left: 0.9rem;
				a{
					font: bold 0.72rem $ds;
					color: #e7e8ea;
					line-height: 7;
					border-top: 2px solid transparent;
					transition: all 0.5s;
				}
				a:hover{
					color: #4bcaff;
					border-top: 2px solid #4bcaff;
				}
			}
		}
	}
	#carousels{
		.slaid{
			position: relative;
			img{
				width: 100%;
			}
			.slaider-text{
				font-size: 18px;
				color: #fff;
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				position: absolute;
				left: 48%;
				bottom: 0;
				right: 7%;
				h2{
					font: 300 2.6em $l;
					text-shadow: 0px 1px 3px rgba(25, 22, 24, 0.36);
				}
				p{
					line-height: 1.2;
					margin: 9% 0;
					font-size: 1em;
				}
				.base{
					margin-right: 5%;
				}
				.header-social{
					margin-top: 2em;
					span{
						margin-right: 1.5rem;
					}
					i{
						height: 2em;
						width: 2em;
						border-radius: 50%;
  						background-color: #171a1f;
  						font-size: 1.5em;
						text-align: center;
						margin: 0 1%;
					}
					.fa:before{
						line-height: 1.88;
					}
					.fa-apple{
						color: #4bcaff;
					}
				}
			}
		}
	}
}	
/*------------------feature---------------------*/	
#features{
	background-color: #F9F9F9;
	text-align: center;
	padding: 2rem 0 5rem;
	.circ{
		width: 9.4rem;
		height: 9.4rem;
		border-radius: 50%;
		background-color: #4bcaff;
		border: 0.2rem solid #efefef;
		margin: auto;
		img{
			position: relative;;
			top: 50%;
			margin-top: -2rem;
		}
	}
	.circ:hover{
		background-color: #414042;
		cursor: pointer;
	}
	.circ:hover .featur-name p{
		color: #4bcaff;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	}
	.featur-name{
		margin-bottom: 2rem;
		p{
			font: 400 0.722rem $l;
			margin: 0.7rem 0;
			padding: 0 5%;
			color: #414042;
		}
		p:first-child{
			font: 700 0.833rem $l;
		}
	}
}
/*------------------gallerys---------------------*/				
#gallerys{
	text-align: center;
	padding: 2rem 0 4rem;
	.gallery{
		height: 100%;
		margin-top: 2rem;
		border-radius: 0.5rem 0.5rem 0 0;
		overflow: hidden;
		img{
			width: 100%;
			position: relative;
		}
	}
	.gallery-name{
		    font: 700 0.833rem $l;
		    color: rgba(75, 202, 255, 0.8);
		    background-color: rgba(65, 64, 66, 0.65);
		    border-radius: 0 0 0.5rem 0.5rem;
		    line-height: 2.5;
		}
	img:hover{
		transform: scale(1.2);
		transition: all 0.5s;
	}
	.gallery-descript{
		font: 400 0.722rem $l;
		color: #838383;
		line-height: 1.692;
		padding: 7%;
	}
	.subtitle{
		margin-bottom: 2rem;
	}
}	
/*---------------------choose----------------------*/
#prices{
	padding: 2rem 0;
	text-align: center;
	.basic{
		background-color: #f9f9f9;
		border: 1px solid #dad7d7;
		border-radius: 3px;
		padding: 0 0 1.5rem;
		margin-bottom: 1rem;
		.basic-name{
			font: 700 0.944rem $l;
			color: #d7d7d7;
			line-height: 3;
		}
		.price{
			font: 700 4.722rem $ds;
			color: #fff;
			text-shadow: 0px 1px 2px rgba(25, 22, 24, 0.3);
			line-height: 1.35;
			margin-bottom: 1rem;
		}
		p{
			font: 700 1rem $l;
			color: #d7d7d7;
			line-height: 2;
		}
		.active-name{
			font: 700 1.222rem $l;
			line-height: 3;
		}
	}
	.greens{
		background-color: #91c46b;
	}
	.bluish{
		background-color:  #4bcaff;
	}
	.oranges{
		background-color:  #fd7c00;
	}
	.basic .active-col{
		color:  rgba(75, 202, 255, 0.8);
		line-height: 3.2;
	}
	.active-prices{
		margin-top: -2rem;
	}
}
/*-------------------testionals--------------------*/
#testimonials{
	background-color:  #f9f9f9;
	text-align: center;
	padding: 1rem 0 2rem;
	h3{
		margin-bottom: 1rem;
	}
	#slicks{
		width: 65%;
		margin: auto;
		.slide-text{
			margin: auto;
			text-align: left;
			.slide-image{
				display: inline-block;
				width: 29%;
				img{
					display: inline-block;
					width: 100%;
				}
			}
			.discript{
				display: inline-block;
				width: 70%;
				vertical-align: middle;
				padding-left: 1rem;
				p{
				font: 700 0.778rem $l;
				color:  rgba(75, 202, 255, 0.8);
				line-height: 1.286;
			}
			.signature{
				font-style: italic;
				text-align: right;
			}
		}
		}
		.slick-dots{
			top: 100%;
		}
	}
}
/*---------------------download-------------------*/
#download{
	background-color:  #414042;
	text-align: center;
	padding: 1rem 0;
	p{
		font: 700 3.056rem $l;
		color: #efefef;
		margin-bottom: 1rem;
		text-shadow: 0px 1px 3px rgba(25, 22, 24, 0.36);
	}
	button{
		background-color:  #4bcaff;
	}
}
/*-----------------------contact-------------------*/
#contact{
	background: url(../img/Map.png);
	background-repeat: no-repeat;
	background-size: cover;
	.contact-data{
		margin: 2rem auto;
		width: 40%;
		background-color:  rgba(75, 202, 255, 0.8);
		box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
		padding: 4%;
		border-radius: 0.5rem;
		form{
			legend{
				font: 700 2rem $l;
				color: #fff;
				margin: auto;
			}
			input{
				display: block;
				width: 100%;
				background-color:  #ffffff;
				box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.06);
				font: 400 0.778rem 'Arial', sans-serif;
				color:  #414042;
				border: 0;
				padding: 0.5rem;
				margin: 0.7rem 0;
				border-radius: 0.3rem;
			}
			textarea{
				display: block;
				width: 100%;
				height: 8rem;
				border: 0;
				padding: 0.5rem;
				line-height: 1.2;
				border-radius: 0.3rem;
				font: 400 0.778rem 'Arial', sans-serif;
				color:  #414042;
			}
			input[type="submit"]{
				width: 65%;
				margin: 1rem auto;
				font: 700 0.833rem $l;
				text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
				color:  #72b3cc;
				background-color:  #414042;
				box-shadow: 0px 4px 0px 0px #313032;
				padding: 0.8rem;
			}
		}
	}
}
/*------------------------footer-------------------*/
footer{
	background-color:  #414042;
	span{
		font: 400 0.667rem $l;
		color: #dad5d5;
		line-height: 4;
	}
	.copy{
		float: right;
	}
}